{
    "timeout": 10,
    "source": {
        "directories": [
            "src"
        ]
    },
    "minMsi": 100,
    "minCoveredMsi": 100,
    "mutators": {
        "@default": true,
        "@function_signature": false
    },
    "logs": {
        "text": "log/infection.txt",
        "perMutator": "log/mutators.md"
    }
}